:root {
    --white: #eff3ed;
    --gray: #707270;
    --black: #0b0c0c;
    --dark: #1d1e22;
    --light: #282929;
    --primary: #af7cf1;
    --secondary: #9957ad;
    --info: #9e7afa;
    --accent1: #51a0d2;
    --accent2: #91c2de;
    --accent3: #f8fcfd;
    --success: #1e9a5e;
    --warning: #dec921;
    --danger: #ea2410;

    --border-radius: 6px;
}

@font-face {
    font-family: Font;
    src: url(../font/font.ttf);
}

* {
    margin: 0;
    font-family: Font;
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--light);
    overflow-x: hidden;
}

html {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.sidenav {
    background: var(--dark);
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.sidenav .sidenav-group {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav .sidenav-group .sidenav-item {
    width: 50px;
    height: 50px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: background 0.25s ease;
    cursor: pointer;
}

.sidenav .sidenav-group .sidenav-item:hover {
    background: var(--light);
}

.sidenav .sidenav-group .sidenav-item i.sidenav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
}

.sidenav .sidenav-group .sidenav-item img.sidenav-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: var(--border-radius);
}

.sidenav .sidenav-group .sidenav-item .sidenav-tooltip {
    position: absolute;
    width: 125px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 70px;
    padding: 5px;
    background: var(--light);
    border-radius: var(--border-radius);
    user-select: none;
    font-size: 1rem;
    font-weight: 500;
    visibility: hidden;
    color: var(--white);
    opacity: 0;
    z-index: 4;
    transition: opacity 0.25s ease;
}

.sidenav .sidenav-group .sidenav-item:hover .sidenav-tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease;
    box-shadow: 0px 0px 5px #00000075;
}

.navbar {
    position: fixed;
    background: var(--dark);
    width: calc(100% - 60px);
    height: 60px;
    margin-left: 60px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navbar .navbar-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navbar .navbar-group li {
    list-style: none;
}

.navbar .navbar-group a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    border: none;
    transition: color 0.5s ease;
}

.navbar .navbar-group a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--white);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease, background 0.5s ease;
}

.navbar .navbar-group a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .navbar-group a.active {
    /* color: var(--primary); */
    transition: color 0.5s ease;
}

.navbar .navbar-group a.active::after {
    transform-origin: left;
    transform: scaleX(1);
    background: var(--primary);
    transition: background 0.5s ease, transform 0.5s ease;
}

.browse {
    position: absolute;
    height: (100% - 60px);
    overflow: hidden;
    left: -110%;
    visibility: hidden;
    background: var(--light);
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    transition: left 0.5s ease, visibility 0.5s ease;
}

.browse.active {
    overflow: auto;
    left: 0;
    visibility: visible;
}

.browse .browse-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.browse .browse-group .browse-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(((100% - 20px) / 3) - 20px);
    aspect-ratio: 6 / 4;
    transform: scale(1);
    background: var(--dark);
    transition: transform 0.5s ease;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 15px #00000060;
}

.browse .browse-group .browse-item:hover {
    transform: scale(1.05);
}

.browse .browse-group .browse-item .browse-item-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
}

.browse .browse-group .browse-item .browse-item-image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.browse .browse-group .browse-item .browse-item-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.browse .browse-group .browse-item .browse-item-about li {
    padding-left: 10px;
    list-style: none;
}

.browse .browse-group .browse-item .browse-item-about a.browse-item-about-name {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white);
    cursor: pointer;
    transition: color 0.25s ease;
}

.browse .browse-group .browse-item .browse-item-about a.browse-item-about-name:hover {
    color: var(--primary);
}

.browse .browse-group .browse-item .browse-item-about a.browse-item-about-description {
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: var(--gray);
}

.library {
    position: absolute;
    background: var(--light);
    overflow: hidden;
    height: calc(100% - 80px);
    visibility: hidden;
    right: -110%;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    transition: right 0.5s ease, visibility 0.5s ease;
}

.library.active {
    overflow-y: visible;
    right: 0;
    visibility: visible;
}

.library .library-group {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.library .library-group .library-item {
    padding-left: 20px;
    aspect-ratio: 6 / 9;
    width: calc(((100% - 20px) / 5) - 20px);
}

.library .library-group .library-item img {
    cursor: pointer;
    box-shadow: 0px 0px 15px #00000060;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    filter: brightness(0.8);
    transform: scale(1);
    transition: transform 0.25s ease;
}

.library .library-group .library-item img:hover {
    transform: scale(1.05);
}